// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// var
$orange: #ff9500;
$grey-dark: #505050;
$grey-med: #828282;
$grey-light: #d4d4d2;
$black-1c: #1c1c1c;
$black-17: #17181a;

// mixins
@mixin bp($name) {
  @if $name == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $name == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $name == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// common
a,
button {
  font-family: inherit;
  &:hover {
    opacity: 0.7;
  }
}

.orange {
  background-color: $orange;
  color: $grey-light;
}

.grey-dark {
  background-color: $grey-dark;
  color: $grey-light;
}

.grey-light {
  background-color: $grey-light;
  color: $black-1c;
}

.copyright {
  display: block;
  color: white;
  width: 100%;
  background-color: $orange;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 0;
  }
}

// main
html {
  overflow: hidden;
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100vh;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal {
  margin: 0 auto;
  background-color: cadetblue;
  position: relative;
  padding: 4rem 3.3rem;
  border-radius: 10px;
  transform: translateY(-25px);
  background-color: $black-17;
  border-radius: 3.9rem;
  transform: scale(0.8);

  @include bp(md) {
    padding: 1rem;
  }

  &__scr {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    min-height: 13rem;
    &-expression,
    &-result {
      text-align: end;
      font-size: 2rem;
      padding: 0.2rem;
    }
    &-expression {
      font-weight: 400;
      font-size: 2.4rem;
      color: $grey-med;
      min-height: 4.15rem;
    }
    &-result {
      font-size: 4.8rem;
      color: $grey-light;
    }
  }
  &__ctrl {
    display: grid;
    grid-template-areas:
      "clear clear divide multiply"
      "seven eight nine subtract"
      "four five six add"
      "one two three equals"
      "zero zero decimal equals";
    gap: 2rem;
    margin-top: 1rem;
    &-btn {
      min-width: 4rem;
      min-height: 4rem;
      cursor: pointer;
      border-radius: 100px;
      transition: transform 0.05s ease-in-out;
      border: none;
      color: white;
      font-size: inherit;
      @include bp(md) {
        min-width: 3rem;
        min-height: 3rem;
      }
      &:active {
        transform: scale(0.95);
      }
    }

    &-man,
    &-num {
      padding: 2.1rem;
      aspect-ratio: 1/1;
      height: 6.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: inherit;
    }
    #zero,
    #clear {
      aspect-ratio: unset;
    }

    #clear {
      grid-area: clear;
      @extend .grey-light;
    }
    #divide {
      grid-area: divide;
      @extend .grey-light;
    }
    #multiply {
      grid-area: multiply;
    }
    #subtract {
      grid-area: subtract;
    }
    #add {
      grid-area: add;
    }
    #equals {
      grid-area: equals;
      aspect-ratio: unset;
      height: unset;
    }
    #decimal {
      grid-area: decimal;
      @extend .grey-dark;
    }
    #zero {
      grid-area: zero;
    }
    #one {
      grid-area: one;
    }
    #two {
      grid-area: two;
    }
    #three {
      grid-area: three;
    }
    #four {
      grid-area: four;
    }
    #five {
      grid-area: five;
    }
    #six {
      grid-area: six;
    }
    #seven {
      grid-area: seven;
    }
    #eight {
      grid-area: eight;
    }
    #nine {
      grid-area: nine;
    }
  }
}
